In [49]:
import pandas as pd
import numpy as np
import sklearn as sk
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split

In [50]:
data = pd.read_csv('featureTable.tsv', sep = '\t')
data = shuffle(data)
data.head()

,N,diag,179.977601490947,187.017289595443,215.028876623635,255.249019533848,256.254881878767,269.036304606381,270.847034099571,281.281149724551,...,881.604026599117,881.743101194149,882.737248721799,888.699495388377,889.711762956959,890.706153264347,903.717783977767,916.720925270646,927.709263094043,928.670329107008
2781,2782,5,0.000000,0.000000,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
7412,7413,35,0.000250,0.000000,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
11179,11180,5,0.000000,0.000293,0.0,0.00000,0.000082,0.000546,0.000000,0.000085,...,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
4770,4771,2,0.000000,0.000000,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.0,0.301301,0.0,0.0,0.0,0.0,0.0
15228,15229,0,0.024047,0.041352,0.0,0.31489,0.047143,0.000000,0.054224,0.110708,...,0.0,0.028031,0.015366,0.0,0.000000,0.0,0.0,0.0,0.0,0.0

In [51]:
data_diag = data['diag']
data_diag.value_counts()

5     6264
2     3847
0     2308
35    1531
37     880
8      640
28     255
7      254
Name: diag, dtype: int64

Оставляем 35, 0, 2, 5

In [52]:
new_data = data.drop(data[(data.diag == 8) | (data.diag == 7) | (data.diag == 37) | (data.diag == 28)].index)
new_data.head()
new_data.shape

(13950, 195)

In [53]:
new_data_diag = new_data['diag']
new_data_diag.value_counts()

5     6264
2     3847
0     2308
35    1531
Name: diag, dtype: int64

In [54]:
data_x = new_data.drop(columns = ['N', 'diag'])
data_x.head()
data_x.shape

(13950, 193)

In [55]:
data_y = np.array(new_data.loc[:,['diag']])
print(data_y[2000])

[2]

In [56]:
new_data_y = np.zeros((data_y.shape[0], 4))
for i in range(data_y.shape[0]):
    if data_y[i][0] == 35:
        new_data_y[i][0] = 1
    if data_y[i][0] == 0:
        new_data_y[i][1] = 1
    if data_y[i][0] == 2:
        new_data_y[i][2] = 1
    if data_y[i][0] == 5:
        new_data_y[i][3] = 1
print(new_data_y[2000])

[0. 0. 1. 0.]

In [67]:
x, y = sk.model_selection.train_test_split(data)